body {
  background-color: white;
  font-family: montserrat,sans-serif,Arial;
  letter-spacing: -1px;
}

h6, h5,  h3{
  font-family: montserrat,sans-serif,Arial;
  letter-spacing: -1px;
  padding: 0;
  margin-top: 0px;
}

h4{
  font-family: montserrat,sans-serif,Arial;
  letter-spacing: -1px;
  padding: 0;
  margin-top: 21px;
  font-weight: bolder;
  font-family: montserrat,sans-serif,Arial;
  margin-bottom: -10px;
}

.title{
  text-align: center;
  margin-top: 4%;
  margin-bottom:5rem;
  text-transform: uppercase;
  letter-spacing: 5px;  
  font-family: montserrat,sans-serif,Arial;
  width: 100%;
  text-decoration: underline;
  font-size:30px;
}

.titleee{
  text-align: center;
  margin-top: 8%;
  text-transform: uppercase;
  letter-spacing: 5px;  
  font-family: montserrat,sans-serif,Arial;
  width: 100%;
  text-decoration: underline;
  font-size:30px;
}

.titlee{
  margin-top: 8%;
  letter-spacing: 5px;  
  font-family: montserrat,sans-serif,Arial;
  background-color: #508eba1f;
  padding-bottom:6rem;
  background-color: rgb(222, 227, 223);
  padding-top:3rem;
  margin-bottom:5rem;
}



.bold{
  font-weight:bolder;
  padding-bottom: 8rem;
}


.long{
  width: 80%;
  height: 89%;
}

.info{
  position: absolute;
  background-color: #a5b3a95e;
  /* margin-top: .2rem; 
  background-color: #a5b3a95e; */
  width:115rem;
  left:14.5%;
  height:30.3rem;
  padding-right: 5rem;
  font-size: medium;
  color: black;
  bottom:-50%;
  z-index: 999;
  }

.nav-link{
  color:white;

}

.container{
  margin-top:6%;
  
}


#main_image{
  width: 100%;
  height: 100%;
}
/* #overlay_image{
  position: absolute;
  top: 6.9%;
  left: 23%;
  z-index:12;
} */

.me{
  width:25rem;
  height:30rem;
  position: absolute;
  left:-21%;
}

.top-nav{
  color:white;
  position:absolute;
  z-index:12;
  top: 5%;
  left:15%;
  font-size: 2rem;

}

.overlay-top { 
  color:#FAF8F3;
  position:absolute;
  /* background-color: rgba(0,0,0,0.4); */
  z-index:12;
  width:100%;
  height: 102%;
  font-size: 8rem;
  letter-spacing: 4px;  
  font-family: montserrat,sans-serif,Arial;
  
    
}
.details{
  /* background-color: rgba(0,0,0,0.4); */
  position:absolute;
  bottom:10%; 
  left:25%;
  width:80rem;
  text-align:center ;
}

.overlay-topp { 
  color:#FAF8F3;
  position:absolute;
  /* background-color: rgba(0,0,0,0.0); */
  z-index:998;
  bottom:5%;
  left:28%;
  width:40%;
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 5px;  
    
}


.word{
  text-align: center;
  font-size: 2rem;
  letter-spacing: 5px;  
  } 
  


.col{
  color:black;
  
}

/* .card-body {
  margin-left: 10%;
  margin-top: 3%;

} */

/* .mid{  
  color:#FAF8F3;
  padding:100px 160px 100px 160px; 
  width: 80%;
  margin-left: 30px; 
}*/

.mid{
  position:absolute;
  z-index:12;
  margin-left: 15%; 
  margin-top: 0%; 
  border: 1px solid;
  box-shadow: 1px 6px 10px 2px rgba(0, 0, 0, 0.4);
  bottom:-12%;
  left:11%;
  text-align: center;
  
}


.overlay-toppp{
  position: absolute;
  display: inline-block;
  z-index: 22;
  left: 15%;
  top:10%;
  color: white;
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 5px;  
  font-family: montserrat,sans-serif,Arial;
  

}

.mid2{
  position:absolute;
  border:none;
  /* padding:15%; */
  
}

body{
  font-family: 'Nunito', sans-serif;
  /* padding: 50px; */
}
/* .card{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      
} */

.page-footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  z-index: 1030;
}
.card:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  
}

.card-0:hover{
  transform: scale(1.05);
box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);

}
.card h3{
  font-weight: 600;
}

.card img{
  position: absolute;
  top: 20px;
  right: 15px;
  max-height: 120px;
}
.col-md-4{
  margin: -5px;
  left:2%;
}
.card-1{
  background-image: url(https://ionicframework.com/img/getting-started/ionic-native-card.png);
      background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}

.card-2{
   background-image: url(https://cdn4.iconfinder.com/data/icons/iconsimple-programming/512/css-512.png);
      background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}

.card-3{
   background-image: url(https://ionicframework.com/img/getting-started/theming-card.png);
      background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
}

@media(max-width: 990px){
  .card{
    margin: 15px;
  }
} 


.card-body{
  margin-left:0%;
  margin-top: 0.5%;
  padding-top: 5%;
  padding-bottom: 2%;
}
.dropbtn {
  background-color: #dee3e600;
  color: white;
  margin-top: 5%;
  padding: 21px 51px 57px 20px;
  height: 15px;
  width: 10px;
  
  right: 19%;
  position: absolute;
  display: inline-block;
  z-index: 22;
  
  border:none;
  
}

/* .dropdown {
  position: absolute;
  
  
} */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #40472961;
  width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right:19%;
  margin-top: 10%;
  
  text-align: center;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  
}

#line {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}


.dropdown-content a:hover {background-color: #d9baaf;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #2f2f2b;}





.mtn{
  position: absolute;
  width:25rem;
  height:15rem;
  bottom:-5%;
  right:-10%;
}

.img{
  width:100%;
  height:80%
}

.card{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  
  cursor: pointer;
}

.card:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card h3{
  font-weight: 600;
}

.card img{
  position: absolute;
  top: 20px;
  right: 15px;
  max-height: 120px;
}

.card-1{
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/38/HTML5_Badge.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
    padding: 14px 80px 18px 36px;
}

.card-2{
   background-image: url("");
    background-position: right;
    background-size: 80px;
    padding: 14px 80px 18px 36px;
}

.card-3{
   background-image: url("https://icon2.cleanpng.com/20180512/hvw/kisspng-bootstrap-responsive-web-design-web-development-lo-5af676c01f90b7.0616603615261016961293.jpg");
      background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
    padding: 14px 80px 18px 36px;
}

.card-4{
  background-image: url("https://cdn.freebiesupply.com/logos/thumbs/2x/django-logo.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
    padding: 14px 80px 18px 36px;
}

.card-5{
   background-image: url("https://www.stickpng.com/assets/images/5848152fcef1014c0b5e4967.png");
      background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
    padding: 14px 80px 18px 36px;
}

.card-6{
   background-image: url("https://banner2.cleanpng.com/20180403/lhe/kisspng-microsoft-azure-sql-database-microsoft-sql-server-database-5ac3dfa11c1874.3743286715227862091151.jpg");
      background-repeat: no-repeat;
    background-position: right;
    background-size: 80px;
    padding: 14px 80px 18px 36px;
}

@media(max-width: 990px){
  .card{
    margin: 20px;
  }
} 


.three{
  margin-top:8%;
}

.col-lg-3{
  background-color: #01121b0f;
  padding-top:4rem;
  padding-left: 2.5rem;
  text-align: center;
}

.card-7{
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
  transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  margin-top:3rem;
  margin-left:8rem;
  cursor: pointer;
}

.col-8 {
  padding-top: 2rem;
  padding-bottom: 3rem;
  letter-spacing: 2px;
  font-family: montserrat,sans-serif,Arial;
  text-align: left;
  font-size: 13px;
}

h1{
  color:#050a0d;
}
i{
  margin-top: 15px;
  font-size: 10px;
}

.col-7 {
  padding-top: 5rem;
  padding-bottom: 3rem;
  letter-spacing: 2px;
  font-family: montserrat,sans-serif,Arial;
  text-align: left;
  font-size: 15px;
}



.mid-res{
  margin-left:100px;
}

input[type=text], select, textarea {
  margin-left: 126px;
  width: 56%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-right: 100px;
  resize: vertical;
  margin-bottom: 100px;
}

input[type=submit] {
  background-color: #dee3df;
    color: #212529;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #955b3373;
}

/* Style the container/contact section */
.container1 {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
  margin-top:5rem;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

a {
  color: white;
 ;
}
 


.st {
  border: 1px solid #ddd0; /* Gray border */
  padding-bottom: 5rem;
  width: 100%; /* Set a small width */
  height:100%
}

.st:hover{
  transform: scale(1.05);
box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);

}

.w3-button {
background-color: #11150d96;
width: 15%;
height: 15%;
}

.bottom{
  position: absolute;
  bottom: -340%;
  
}

.bottomm{
  position: absolute;
  bottom: -315%;
  z-index: 999;
  right:3%;
  width:100%;
  height:80%;
  margin-top:50px;
  
}

.btm{
  width:100%;
  height:46rem;
}

f