<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
 
</head>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title >Second page</title>
  
  
  </head>

  <body>


<div class="container">
  
 <!-- Navbar -->
  <div class="dropdown">
  <button class="dropbtn">
  <div id="line"></div>
  <div id="line"></div>
  <div id="line"></div>
  </button>
  <div class="dropdown-content">
    <a href="http://localhost:8000/home/">Home</a>
    <a href="#">Next page</a>
    <a href="#">contact</a>
 </div>
</div>

<img src="https://colorlib.com/etc/katt/images/katt_default_logo.png" alt="img" id="overlay_image">

<!-- Wrapper for carousel -->
  <div id="myCarousel" id="main_image" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="overlay"><h1>This is the second page of<br>Project0. <br>The remainging pages are found below.</h1>  
    <div class="word">Kindofalong</div >
    </div>
    
    <div class="carousel-inner">
      <div class="item active">
        <img src="https://colorlib.com/etc/katt/demo-images/katt_home_image01_slider01.jpg" alt="Los Angeles" style="width:100%;">
      </div>

      <div class="item">
        <img src="https://colorlib.com/etc/katt/demo-images/katt_home_image01_slider02.jpg" alt="Chicago" style="width:100%;">
      </div>
    
      <div class="item">
        <img src="https://colorlib.com/etc/katt/demo-images/katt_home_image01_slider03.jpg" alt="New york" style="width:100%;">
      </div>
    </div>

    <!-- Left and right controls -->
   </div>

   <div class="mid" class="container">
   <h3> Gathered by gravity bits of moving fluff Flatland venture hearts of the stars Hypatia birth cosmic ocean! Flatland are creatures of the cosmos Orion's sword two ghostly white figures
   </h3>

   <div class="word">
   
   Kindofalong
   </div >

   <img src="https://colorlib.com/etc/katt/images/zigzag.png" alt="zig" class="zig">
   </div>
   <section>
<div><img src="https://colorlib.com/etc/katt/demo-images/katt_home_image02.jpg"alt="pic1" class="pic1"><div class="info">What was most significant about the office chairs<div></div>

</section>

 
</div>


{% comment %} https://colorlib.com/etc/katt/index.html {% endcomment %}