<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  
 
</head>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/mywebpage.css' %}">

    {% load static %}
    <script src="{% static 'js/page.js' %}"></script>
    
    <title >Resume</title>
  
  
  </head>

  <body>


{% comment %} <div >
  
 <!-- Navbar -->
  <div class="dropdown">
  <button class="dropbtn">
  <div id="line"></div>
  <div id="line"></div>
  <div id="line"></div>
  <br>
  </button>
  <div class="dropdown-content">
    <a href="http://localhost:8000/home/">Home</a>
    <a href="http://localhost:8000/secpage/">Next page</a>
    
 </div>
</div> {% endcomment %}




<!-- Wrapper for carousel -->
  <div>
   
    <div class="overlay-top">  <div class="details">Nicole Evans </div> </div>
    <div class="overlay-topp">  web developer </div>
    <div class="overlay-toppp">  Resume </div>
    
<!-- image -->
</div>




  {% load static %}
        {% comment %} <img class="img" src="{% static "images/per.jpg" %}" alt="My image" style="width:100%;">  {% endcomment %}
        <video class="img"  autoplay muted loop>
<source src="{% static 'images/wideoo.mp4' type='video/mp4' %}" style="min-width:100%"></video>


 
      
    

 <section>
<container class="mid">
<div class="card" style="width: 80rem;">
  <div class="card-body">
     <div class="row">
  
  <div class="col"><h4>EMAIL ADDRESS</h4><br><h5>NicoleMaki@live.com</h5><br></div>
  <div class="col"><h4>LOCATION</h4><br><h5>Miami, Florida</h5><br></div>
</div>
</div>
   
</container> 
</section> 


<div class ="info"> 
<div class="row">
  <div class="col col-lg-4"><div> {% load static %}
        <img class="long" src="{% static "images/longg.jpg" %}" alt="image" ></div>
</div>
  <div class="col-7"> <h1>About me</h1>Self-taught front-end web developer eagerly looking to expand skillset with an established company. Aiming to leverage proven knowledge of web development and capacity planning to fill the Front-end developer role at your company.  </div>
<div> 




<section class="titleee">My tools</section>

<link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,900" rel="stylesheet">

<div class="three">
  <div class="row">
    <div class="col-md-4">
      <div class="card card-1">
        <h3>HTML5</h3>
        <p>The standard markup language used to structure and present content on the World Wide Web. </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-2">
        <h3>CSS</h3>
        <p>Used for describing the presentation of a document written in a markup language.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-3">
        <h3>Bootstrap</h3>
        <p>The most popular HTML, CSS, and JavaScript framework for developing responsive, projects on the web.</p>
      </div>
    </div>
  </div>
</div>


<div class="three">
  <div class="row">
    <div class="col-md-4">
      <div class="card card-4">
        <h3>Django</h3>
        <p>Python-based free, open-source, server-side web framework that allows quick app development.</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-5">
        <h3>Python</h3>
        <p>Gseneral-purpose interpreted, interactive, object-oriented, and high-level programming language</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card card-6">
        <h3>SQL</h3>
        <p>Structured Query Language. Back end language used to communicate with a database. </p>
      </div>
    </div>
  </div>
</div>



<div class="titlee" class="col-10"> 
<div>
<section class="title">Professional experience</section>
<section>
<container>
<div class="card-7" style="width: 100rem;">
  
     <div class="row">
  <div class="col-lg-3"><div><h4>Argo AI </h4><br></div>

</h4></div>
  <div class="col-8"> <div><b>Autonomous Vehicle Test Specialist</b> </div><i>June 2019 – April 2020 </i><br>
  <br>Utilize software to collect data and troubleshoot real-world situations.  
Provide daily, detailed, and accurate feedback to engineers. 
Remain cognizant of all fleet updates. </div>
  
</div>
</div>
   
</container> 
</section>

<section >
<container class="mid-res">
<div class="card-7" style="width: 100rem;">
  
     <div class="row">
  <div class=" col-lg-3"><div><h4>Chewy.com</h4><br></div>

</h4></div>
  <div class="col-8"> <div><b>Customer Service Representative</b></div><i>August 2018 –June 2019 </i><br><br>
  Identify customer concerns, create solutions, and implement a resolution that meets customer satisfaction. 
Promoted to writing team after 3 months due to excellent customer service, organization, and communication skills. </div>
  
</div>
</div>
</div>
</div>
   
</container> 
</section>

{% comment %} <div> {% load static %} <img src="{% static "images/mtn.png" %}" class="mtn"></div> {% endcomment %}


<section class="titleee">Projects</section>


<div class="container">
  
  <div class="row" >
    <div class="col"><a href="/secpage/"><img  class ="st" src="{% static "images/1st.png" %}" alt="Forest"> </a></div>
    <div class="col"><a href="/proone/"><img  class ="st" src="{% static "images/sec.jpg"  %}" alt="Forest"></a></div>
    <div  class="col"><a href="/protwo/"><img  class ="st" src="{% static "images/ent.jpg" %}" alt="Forest"></a></div></div>
    </div>
   </div> 
   <br>
  </div>
</div>
</div>
</div>

</section>
</container>


<!-- Footer -->
<footer class="page-footer font-small blue fixed-bottom">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Designed by: Nicole Maki Resume 
  </div>
  <!-- Copyright -->

</footer>


</html>
